/* ===== Universal Things ===== */

:root {
    //* COLORS
    --lightblue1: #9bc6da;
    --ligblue2: #5aa5d4;

    --darkblue1: #5e91b4;
    --darkblue2: #467e95;

    --coral: #f47d3b;
    --coral2: #ee6a50;
    --peach: #f69785;

    --winered-dark: #4f0415;
    --winered-light: #a11d24;

    --lightpink: #e3afbb;

    --yellow: #f7c72c;
    --green: #85c442;

    //* SHADOWS
    --shadow-light-1: 0 3.5rem 4rem rgba(0, 0, 0, .4);
    --shadow-dark-1: 0 2rem 6rem rgba(0, 0, 0, .4);
    --shadow-dark-2: 0 2rem 4rem rgba(0, 0, 0, .6);
    --shadow-dark-3: 0 1.5rem 7rem rgba(0, 0, 0, .8);
    --shadow-light-4: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    //* BORDERS
    --border-bottom-1: .2rem solid #000;
    --border-bottom-2: .5rem solid #f47d3b;
    --border-bottom-3: .5rem solid #48ABC7;
    --border-bottom-4: .1rem solid #ffd300;
    --border-bottom-5: .5rem solid #ffd300;
    --border-bottom-6: .2rem solid #40437c;
    --border-bottom-7: .5rem solid #fff;
    --border-1: .5rem solid #48ABC7;
    --border-2: .5rem solid #fff;

    //* MARGINS
    --title-margin: 5rem;
    --top-margin: 2.5rem;
    --bottom-margin: 2.5rem;
    --left-margin: 5rem;

    //* PADDINGS
    --title-padding: 5rem 5rem;
    --big-padding: 17.5rem 7.5rem;


    //* FONT-SIZES
    --fs-heading-big: 6.75rem;
    --fs-heading: 3rem;
    --fs-title: 2.5rem;
    --fs-text-big: 2rem;
    --fs-text: 1.5rem;
}

/* MEDIA QUERY SIZES */
$bp-largest: 75em; // 1200px === 75em
$bp-large: 68.75em; // 1100px === 68.75em
$bp-medium: 56.25em; // 900px === 56.25em
$bp-small: 37.5em; // 600px === 37.5em
$bp-smallest: 31.25em; // 500px === 31.25em
$bp-phone: 23.75em; // 380px === 23.75em

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // ! This defines what 1rem is.
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Saira', sans-serif;
    min-height: 100vh;
    scroll-behavior: smooth;

    @media screen and (min-width: $bp-largest) {}

    @media screen and (min-width: $bp-large) {
        font-size: 50%;
    }

    @media screen and (max-width: $bp-medium) {}

    @media screen and (max-width: 800px) {}


    @media screen and (max-width: $bp-small) {
        // font-size: 25%;
    }

    @media screen and (max-width: $bp-smallest) {}

    @media screen and (max-width: 440px) {}

    @media screen and (max-width: $bp-phone) {}

    // // MEDIA QUERY
    // @media screen and (max-width: $bp-large) {
    //     font-size: 50%;
    // }

    // @media screen and (max-width: $bp-small) {
    //     font-size: 25%;
    // }

}

body {
    position: relative;
    box-sizing: border-box;
    min-height: 100vh;
    // min-height: 100vh;
    // min-width: 100vw;
    // display: grid;
    // place-items: center;
    overflow-x: hidden;
    // overflow-y: scroll;
    scroll-behavior: smooth;

    font-family: museo-sans-rounded, sans-serif;
}