.landing {
height: 100vh;
        
    &-landingplace {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        grid-template-areas: "top"
                   "bottom";
        justify-items: center;
                        
        background-attachment: fixed;
        background-image: url(/img/background-landing.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;

        &--logo {
        grid-area: top;
        align-self: center;

        height: 20rem;
        
        filter: brightness(100%);
        }

    }

    &-slideshow {
        grid-area: bottom;
        justify-self: center;
        align-self: center;
        height: 50rem;
        width: 150rem;
        background-color: #eee;
    }

}


.folgmed {
    height: 120vh;
    background-color: var(--lightblue1);

    &-title {
        font-size: var(--fs-heading-big);
        font-weight: 300;
        padding: var(--title-padding);

        &--underline {
            border-bottom: var(--border-bottom-2);
        }
    }

    &-instafeed {
        display: flex;
        flex-direction: row;

        justify-self: center;
    }

    &-wrapper {
        margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

}

.fb-page {
    margin-left: 5rem;
}

.footer {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;

    background-color: var(--darkblue1);

    &-logo {
        height: 10rem;
        width: 10rem;

        grid-column: 1 / 1;
        grid-row: 1 / 1;

        align-self: start;
        margin: .5rem 1rem;
    }


    &-social {
        align-self: center;
        justify-self: center;
        grid-column: 10 / 10;
        grid-row: 1 / 1;
        
        &-img {
            fill: #fff;
            height: 4rem;
        }
        
        &-div {
            background-color: #fff;

            border-radius: .8rem;
            height: 8rem;
            width: 8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .2s;
        }

        &-div:hover {
            transform: translateY(-.5rem);
            box-shadow: var(--shadow-light-4);
        }
    }


    &-socialface {
        align-self: center;
        justify-self: center;
        grid-column: 9 / 9;
        grid-row: 1 / 1;
        
        &-img {
            fill: #fff;
            height: 4rem;
        }
        
        &-div {
           background-color: #fff;
            
            border-radius: .8rem;
            height: 8rem;
            width: 8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .2s;
        }

        &-div:hover {
            transform: translateY(-.5rem);
            box-shadow: var(--shadow-light-4);
        }
    }

    &-socialsmak {
        align-self: center;
        justify-self: center;
        grid-column: 8 / 8;
        grid-row: 1 / 1;
        
        &-img {
            fill: #fff;
            height: 6rem;
        }
        
        &-div {
            background-color: #fff;

            border-radius: .8rem;
            height: 8rem;
            width: 8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .2s;
        }

        &-div:hover {
            transform: translateY(-.5rem);
            box-shadow: var(--shadow-light-4);
        }
    }

    &-socialmail {
        align-self: center;
        justify-self: center;
        grid-column: 7 / 7;
        grid-row: 1 / 1;
        
        &-img {
            fill: #fff;
            height: 4rem;
        }
        
        &-div {
            background-color: #fff;

            border-radius: .8rem;
            height: 8rem;
            width: 8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .2s;
        }

        &-div:hover {
            transform: translateY(-.5rem);
            box-shadow: var(--shadow-light-4);
        }
    }

    &-tel {
        grid-column: 3 / 3;
        grid-row: 1 / 1;
        
        font-size: var(--fs-text);
        color: #fff;

        align-self: center;
        justify-self: center;
    }

    &-adresse {
        grid-column: 4 / 4;
        grid-row: 1 / 1;
        
        font-size: var(--fs-text);
        color: #fff;

        align-self: center;
        justify-self: center;
    }
}



